<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Countywide Contract Compliance System</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    <script type="text/javascript" src="~/Scripts/jquery.confirm.min.js"></script>
    <script type="text/javascript" src="~/Scripts/cccs.js"></script>
</head>
<body>
    @Html.Partial("_Navbar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - Internal Services Department, Los Angeles County</p>
            </footer>*@
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
