@using CCCS.Web.Models.Contractors
@model PagedList.IPagedList<ContractorModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Contractors";
}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>

<h3>@ViewBag.Title</h3>
<ul class="nav nav-tabs" role="tablist" style="margin: 15px 0;">
    <li><a href="~/contractor/index1">All Contractors</a></li>
    <li><a href="~/contractor/index2">Active Primes</a></li>
    <li><a href="~/contractor/index3">Non-active Primes</a></li>
    <li class="active"><a href="~/contractor/index4">Search Results</a></li>
</ul>
<table class="table table-condensed table-hover">
    <thead>
        <tr class="title-row">
            <th>
                DCO
            </th>
            <th>
                @Html.ActionLink("Company Name", "Index1", new { sortOrder = ViewBag.CompanyNameSortParm })
            </th>
            <th>
                Contact Name
            </th>
            <th>EIN</th>
            <th>Phone Number</th>
            <th>Recent Project</th>
            <th>End Date</th>
            <th class="col-md-1">Past Due Documents</th>
            @if (User.IsInRole("Clerical") || User.IsInRole("Clerical2"))
            {
                <th></th>
            }
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (String.IsNullOrEmpty(item.AlternateDCO))
                {
                    @item.DCO
                }
                else
                {
                    @item.DCO<span class="mar-left-3 mar-right-3">/</span>@item.AlternateDCO
                }
            </td>
            <td>
                @Html.ActionLink(item.CompanyName, "Details1", new { id = item.ContractorID })
            </td>
            <td>
                @item.ContactName
            </td>
            <td>@item.TaxId</td>
            <td>
                @item.ContactPhone
                @if (!string.IsNullOrEmpty(item.ContactExtension))
                {
                    <span class="mar-left-10">Ext: @item.ContactExtension</span>
                }
            </td>
            <td>
                @if (item.RecentProjectID > 0)
                {
                    <a href="~/Project/Details1/@item.RecentProjectID">
                        <span data-toggle="tooltip" title="@item.RecentProjectName" data-placement="left">@item.RecentJOC</span>
                    </a>
                }
            </td>
            <td>@if (item.EndDate != null)
            {
                var dt = (DateTime)item.EndDate.Value;
                @dt.ToShortDateString()
            }</td>
            <td class="text-center">
                @if (item.NumberPastDueDocuments > 0)
                {
                    <a href="~/Contractor/Details2/@item.ContractorID"><span class="badge badge-red">@item.NumberPastDueDocuments</span></a>
                }
            </td>
        </tr>
    }

</table>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index3", new { page }))
