@model IEnumerable<CCCS.Web.Models.Inspection.InspectionListModel>

@if (Model.Count() > 0)
{
    string selectedValue = ViewBag.CO;
    <script type="text/javascript">
        $(function () {
            $("#DcoSV").change(function () {
                var dco = $(this).val();

                if (dco == '') {
                    $("#SV tbody tr").show();
                } else {
                    $("#SV tbody tr:not(" + dco + ")").hide();
                    $("#SV tbody tr." + dco).show();
                }

                var rows = $("#SV tbody tr[style!='display: none;']").length;
                $("#totalSV").html(rows);
            });

            $("a[href$='#cancelModal']").on("click", function () {
                $("#InspectionID2").val(this.id);
            });
        });
    </script>
    if (!String.IsNullOrEmpty(selectedValue))
    {
        <script type="text/javascript">
            $(document).ready(function () {
                var d = '@selectedValue';
                $("#SV tbody tr:not(" + d + ")").hide();
                $("#SV tbody tr." + d).show();
            });
        </script>
    }
    <div class="panel panel-primary">
        <div class="panel-heading" data-toggle="collapse" href="#SV" aria-expanded="true">
            <div class="pull-right">
                List Total:<span id="totalSV" class="mar-left-10"></span>
            </div>
            Site Visit in Progress<span id="chevronSV" class="glyphicon glyphicon-chevron-up" style="margin-left: 10px;"></span>
        </div>
        <div class="panel-body collapse in" id="SV">
            <div class="pull-right">@Html.DcoDropDownList("DcoSV", false, selectedValue, new { @class = "form-control" })</div>
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1"></th>
                        <th>CO</th>
                        <th class="col-md-1">Date Requested</th>
                        <th class="col-md-1">Date of Visit</th>
                        <th class="col-md-1">Status</th>
                        <th>Project ID</th>
                        <th>Contractor</th>
                        <th>Address</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@item.DCO">
                            <td>
                                @if (item.DateApproved == null)
                                {
                                    <a data-toggle="modal" href="#cancelModal" id="@item.InspectionID">Cancel</a>
                                }
                                else
                                {
                                    var url1 = VirtualPathUtility.ToAbsolute("~/Inspection/Details/") + item.InspectionID + "?returnUrl=" + HttpUtility.HtmlEncode(Request.Url.PathAndQuery);
                                    <a href="@url1">Details</a>
                                }
                            </td>
                            <td>@item.DCO</td>
                            <td>
                                @if (item.DateRequested != null)
                                {
                                    @DateTime.Parse(item.DateRequested.ToString()).ToString("MM-dd-yyyy")
                                }
                            </td>
                            <td>
                                @DateTime.Parse(item.DateOfVisit.ToString()).ToString("MM-dd-yyyy")
                            </td>
                            <td>
                                @if (item.Status == "SV rejected by Manager")
                                {
                                    <span class="badge badge-red">Rejected</span>
                                }
                                else if (item.Status == "SVC sent to Manager")
                                {
                                    <span class="badge">SVC Pending</span>
                                }
                                else if (item.Status == "SVC rejected by Manager")
                                {
                                    <span class="badge badge-red">SVC Rejected</span>
                                }
                                else if (item.Status == "SVC approved by Manager")
                                {
                                    <span class="badge badge-green">SVC Approved</span>
                                }
                                else if (item.Status == "VC sent to Department")
                                {
                                    <span class="badge">VC Sent</span>
                                }
                                else if (item.Status == "VC approved by Manager")
                                {
                                    <span class="badge badge-green">VC Approved</span>
                                }
                                else if (item.Status == "VC Pending")
                                {
                                    <span class="badge">@item.Status</span>
                                }
                                else if (item.DateContractorNotification != null)
                                {
                                    <span class="badge">CN Sent</span>
                                }
                                else if (item.DateApproved != null)
                                {
                                    if (item.Status == "Inspection document uploaded")
                                    {
                                        <span class="badge">Send SVC</span>
                                    }
                                    else if (item.Status == "Site Visit Request approved by Manager")
                                    {
                                        <span class="badge">Send CN</span>
                                    }
                                    else if (item.DateSiteInspectionUploaded == null)
                                    {
                                        <span class="badge">Upload SI</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-green">Approved</span>
                                    }
                                }
                                else
                                {
                                    <span class="badge">Pending</span>
                                }
                            </td>

                            <td>
                                <a href="~/Project/Details1/@item.ProjectID" data-toggle="tooltip" data-placement="right" title="@item.ProjectName">@item.JOC</a>
                            </td>
                            <td>
                                @item.CompanyName
                            </td>
                            <td>
                                <a data-toggle="modal" href="#mapModal" id="mapLink" data-content="@item.DCO" name="@item.DateOfVisit">@item.Address</a>
                            </td>
                            <td class="city">
                                @item.City
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<script>
    $(function () {
        var rows = $("#SV tbody tr[style!='display: none;']").length;
        $("#totalSV").html(rows);
    });
</script>
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cancel Site Visit</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CancelSiteVisitRequest", "Inspection", new { returnUrl = Request.Url.PathAndQuery }, FormMethod.Post, null))
                {
                    @Html.Hidden("InspectionID2")
                    <div class="form-horizontal">
                        <div class="form-group" id="dateClosed">
                            <div class="title-cell col-md-3 mar-top-10">Explanation:</div>
                            <div class="col-md-8">
                                @Html.TextArea("Comment", new { @class = "form-control", cols = 35, @rows = 5 })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
