@model CCCS.Web.Models.Home.DcoSummaryModel
@{
    ViewBag.Title = "DCO Home";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    .panel-heading span {
        cursor: pointer;
    }

    #stat th, #stat td {
        text-align: center;
    }

    ul {
        margin-left: -40px;
    }

    li {
        list-style: none;
    }

    .panel-heading {
        cursor: move;
    }
</style>

@{
    Html.RenderAction("HomeTabs");
    Html.Partial("_AlertPartial");
}
        <div id="stat" style="padding-top: 5px; margin-bottom: 20px; background-color: #eee;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Last Site Visit</th>
                        <th># Site Visits</th>
                        <th>Amount Federal Projects</th>
                        <th># Federal Projects</th>
                        <th>Amount Open Projects</th>
                        <th># Open Projects</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.LastSiteVisit</td>
                        <td>@Model.NumberSiteVisits</td>
                        <td>@Model.AmountFederalProjects</td>
                        <td>@Model.NumberFederalProjects</td>
                        <td>@Model.AmountOpenProjects</td>
                        <td>@Model.NumberOpenProjects</td>
                    </tr>
                </tbody>
            </table>
        </div>

        @{
            <ul id="sortable">
                <li>
                    @{
                        Html.RenderAction("ClearanceRequest", "Home", new { dco = ViewBag.CO });
                    }
                </li>
                <li>
                    @{
                        Html.RenderAction("ClearanceRequestException", "Home", new { dco = ViewBag.CO });
                    }
                </li>
                <li>
                    @{
                        Html.RenderAction("SiteVisits", "Home", new { dco = ViewBag.CO });
                    }
                </li>
                <li>
                    @{
                        Html.RenderAction("SiteVisitException", "Home", new { dco = ViewBag.CO });
                    }
                </li>
                <li>
                    @{
                        Html.RenderAction("NewProject", "Home", new { dco = ViewBag.CO });
                    }
                </li>
                <li>
                    @{
                        Html.RenderAction("DocumentReceived", "Home", new { dco = ViewBag.CO });
                    }
                </li>
            </ul>
        }


