@model CCCS.Core.Domain.Inspection.ViolationCorrection

@{
    ViewBag.Title = "Violation Correction";
    Layout = "~/Views/Shared/_LayoutInspection.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('.date').datetimepicker({
            format: "L",
            defaultDate: new Date()
        });

        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
@section Navbar
{
    <ol class="breadcrumb">
        <li><a href="~/">CCCS Home</a></li>
        <li><a href="~/Inspection/Index3">Site Visit</a></li>
        <li><a href="~/Inspection/Details/@Model.InspectionID">Details</a></li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
<h3>@ViewBag.Title</h3>
@{ Html.RenderPartial("_AlertPartial");}

@using (Html.BeginForm(new { returnUrl = ViewBag.ReturnUrl }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.InspectionID)

        <div class="form-group">
            @Html.Label("Department", new { @class = "col-md-3 control-label" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TodaysDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2">
                <div class='input-group date' id='todaysDate'>
                    @Html.EditorFor(model => model.TodaysDate, new { htmlAttributes = new { @class = "form-control" } })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Department Contact", new { @class = "col-md-3 control-label" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.DepartmentContact, new { htmlAttributes = new { @class = "form-control text-box-lg" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectNumber, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ProjectNumber, new { htmlAttributes = new { @class = "form-control text-box-lg" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectDescription, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ProjectDescription, new { htmlAttributes = new { @class = "form-control text-box-lg" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectAddress, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ProjectAddress, new { htmlAttributes = new { @class = "form-control text-box-lg" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contractor, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Contractor, new { htmlAttributes = new { @class = "form-control text-box-lg" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DCO, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.DCO, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DcoContactInfo, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.DcoContactInfo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfVisit, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-2 pad-top-7">
                @Html.EditorFor(model => model.DateOfVisit, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        @if (ViewBag.Violations)
        {
            <div class="form-group">
                @Html.Label("Violations Corrected", new { @class = "col-md-3 control-label" })
                <div class="col-md-2 pad-top-7 text-center">
                    <span class="mar-right-10">EEO Postings</span>@Html.CheckBoxFor(model => model.EeoPostings, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-1 pad-top-7 text-center">
                    <span class="mar-right-10">Graffiti</span>@Html.CheckBoxFor(model => model.Graffiti, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-2 pad-top-7 text-center">
                    <span class="mar-right-10">Segregated Facilities</span>@Html.CheckBoxFor(model => model.SegregatedFacilities, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-md-3 pad-top-7 text-center">
                    <span class="mar-right-10">Referrals to OFCCA/DFEH/DHR</span>@Html.CheckBoxFor(model => model.Referrals, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8 pad-top-7">
                @Html.TextAreaFor(x => x.Comments, new { @class = "form-control", cols = 90, @rows = 3 })
            </div>
        </div>

        <div class="form-group mar-top-50">
            <div class="col-md-offset-2 col-md-10">
                @if (ViewBag.FileUrl != null)
                {
                    string url = "~/Inspection/Details/" + Model.InspectionID;
                    <div class="pull-right">
                        <a target="_blank" href="@ViewBag.FileUrl"><span class="glyphicon glyphicon-file mar-right-10"></span>View Document</a>
                        @if (ViewBag.SendTo == "Department")
                        {
                            <a href="~/Notice/EmailVC/@Model.InspectionID" class="btn btn-danger mar-left-20">Email Notification</a>
                        }
                        else
                        {
                            @Html.ActionLink("Send to Manager", "SendVcToManager", new { id = Model.InspectionID, returnUrl = url }, new { @class = "btn btn-danger mar-left-20" })
                        }
                    </div>
                }
                <input type="submit" value="Save" class="btn btn-primary" />
                <span class="mar-left-20"><a href="~/Inspection/Details/@Model.InspectionID">Cancel</a></span>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

