@model IEnumerable<CCCS.Web.Models.Worksheets.WorksheetListModel>

@{
    ViewBag.Title = "Time Worksheet";
}

<h3>@ViewBag.Title</h3>
@{
    Html.RenderPartial("_WorksheetTabs");
}
<p>
    @if (User.IsInRole("DCO"))
    {
        <div class="col-md-3">
            @{
                string url = VirtualPathUtility.ToAbsolute("~/Worksheet/CreateBillable") + "?returnUrl=" + HttpUtility.HtmlEncode(Request.Url.PathAndQuery);
            }
            <a href="@url" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-flash mar-right-5"></span>Create Billable Activity</a>
        </div>
    }
    <div class="form-inline pull-right pad-bottom-10">
        @using (Html.BeginForm())
        {
            if (User.IsInRole("Administrator") || User.IsInRole("Manager") || User.IsInRole("Clerical") || User.IsInRole("Clerical2"))
            {
                <div class="form-group mar-left-20">
                    @Html.DropDownList("DCO", new SelectList(ViewBag.COs, "Value", "Text", ViewBag.CurrentDCO), new { @class = "form-control", onchange = "this.form.submit();" })
                </div>
            }
            <div class="form-group mar-left-20">
                <label class="mar-right-10">Pay Period:</label>
                @Html.DropDownList("PayPeriod", new SelectList(ViewBag.PayPeriods, "Value", "Text", ViewBag.CurrentPayPeriod), new { @class = "form-control", onchange = "this.form.submit();", style = "width: 240px;" })
            </div>
        }
    </div>
</p>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<table class="table table-condensed table-hover">
    <thead>
        <tr class="title-row">
            <th>
                CO
            </th>
            <th class="col-md-1">
                Work Date
            </th>
            <th>
                Event<br />Code
            </th>
            <th>
                Account No.
            </th>
            <th>
                Phase
            </th>
            <th>
                Department
            </th>
            <th>
                Activity<br />Code
            </th>
            <th>
                Project ID
            </th>
            <th>
                Contractor
            </th>
            <th>Hours<br />Charged</th>
            <th class="col-md-1 text-right"></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Worksheet.DCO)
            </td>
            <td>
                @item.Worksheet.WorkDate.ToString("MM-dd-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Worksheet.EventCode)
            </td>
            <td>
                @item.AccountNo
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Worksheet.Phase)
            </td>
            <td>
                @item.DepartmentID
            </td>
            <td>
                @item.Worksheet.ActivityCode
            </td>
            <td>
                @if (item.Worksheet.ProjectId != null)
                {
                    <a href="~/Project/Details1/@item.Worksheet.ProjectId" data-toggle="tooltip" data-placement="right" title="@item.ProjectName">@item.JOC</a>
                }
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.CompanyName))
                {
                    @Html.ActionLink(item.CompanyName, "Details1", "Contractor", new { id = item.PrimaryContractorID }, null)
                }
            </td>
            <td>
                @item.TotalHours.ToString("0.0")
            </td>
            <td class="text-right">
                @if (ViewBag.Editable)
                {
                    string url1 = VirtualPathUtility.ToAbsolute("~/Worksheet/EditBillable/") + item.Worksheet.Id + "?returnUrl=" + HttpUtility.HtmlEncode(Request.Url.PathAndQuery);
                    string url2 = VirtualPathUtility.ToAbsolute("~/Worksheet/Delete/") + item.Worksheet.Id + "?returnUrl=" + HttpUtility.HtmlEncode(Request.Url.PathAndQuery);
                    <a href="@url1">Edit</a><span class="mar-left-10 mar-right-10">|</span>
                    <a href="@url2" data-toggle="tooltip" title="Delete" data-placement="left"><span class="glyphicon glyphicon-trash"></span></a>
                }
            </td>
        </tr>
    }

</table>