@model CCCS.Core.Domain.Projects.Project

@{
    ViewBag.Title = "Contractors";
    Layout = "~/Views/Shared/_LayoutProject.cshtml";
}
<style>
    .control-label {
        font-weight: bold;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('.date').datetimepicker(
            {
                format: "L"
            });

        $('.dropdown-toggle').dropdown();

        $("a[href$='#editModal']").on("click", function () {
            var cid = $(this).attr("id");
            $("#ContractorID").val(cid);
            var subTo = $(this).attr("data-bind");

            var data = $(this).attr("data-content").split(';');
            $("#StartDate").val(data[0]);
            $("#EndDate").val(data[1]);
            $("#ContractAmount").val(data[2]);
            $("#ContractId").val(data[3]);

            $("#SubTo option").each(function () {
                if ($(this).val() == cid) {
                    $(this).remove();
                }
                if ($(this).val() == subTo) {
                    $(this).prop('selected', true);
                }
            });
        });

        $("#deleteSub").confirm({
            title: "Delete Subcontractor",
            text: "Are you sure to delete this subcontractor?",
            confirmButton: "Yes",
            cancelButton: "No"
        });
    });
</script>
@section Navbar {
    <ol class="breadcrumb">
        <li><a href="~/">CCCS Home</a></li>
        <li>
            <a href="~/Project/Index1">Projects</a>
        </li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}
@{
    Html.RenderAction("PageHeader", new { id = Model.Id });
    Html.RenderPartial("_ProjectDetailsTabs");
}
@Html.Partial("_AlertRawPartial")
<div class="panel panel-default">
    <div class="panel-heading">
        Subcontractors<span class="badge mar-left-10">@Model.NumberSubcontractors</span>
        <div class="pull-right">
            <a href="~/Project/AddSubcontractor/@Model.Id">Add Subcontractor</a>
        </div>
    </div>
    <div class="panel-body">
        @if (ViewBag.Subcontractors.Count > 0)
        {
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width: 30px;"></th>
                        <th>Company Name</th>
                        <th>EIN</th>
                        <th>Sub To</th>
                        <th class="col-md-1">Start Date</th>
                        <th class="col-md-1">End Date</th>
                        <th class="text-right">Contract $</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                @{ int cnt = 0; }
                @foreach (var c in ViewBag.Subcontractors)
                {
                    cnt++;
                <tr>
                    <td>
                        @cnt<span>.</span>
                    </td>
                    <td>
                        @for (int i = 0; i < c.SubLevel - 1; i++)
                        {
                            <span class="mar-left-25"></span>
                        }
                        @if (c.SubLevel > 1)
                        {
                            <span class="glyphicon glyphicon-share-alt"></span>
                        }
                        <a href="~/Contractor/Details1/@c.ContractorID">@c.CompanyName</a>
                    </td>
                    <td>
                        @c.TaxId
                    </td>
                    <td>
                        @c.SubToCompanyName
                    </td>

                    <td>
                        @if (c.StartDate != null)
                        {
                            DateTime dt = (DateTime)c.StartDate;
                            @dt.ToString("MM-dd-yyyy")
                        }
                    </td>
                    <td>
                        @if (c.EndDate != null)
                        {
                            DateTime dt = (DateTime)c.EndDate;
                            @dt.ToString("MM-dd-yyyy")
                        }
                    </td>
                    <td class="text-right">
                        @if (c.ContractAmount != null)
                        {
                            @c.ContractAmount.ToString("$#,##0.00")
                        }
                    </td>
                    <td class="text-right">
                        @{
                            string urlDelete = VirtualPathUtility.ToAbsolute("~/Project/DeleteSubcontractor") + "?pId=" + Model.Id + "&cId=" + c.ContractorID;
                            string startDate = (c.StartDate == null) ? "" : c.StartDate.ToShortDateString();
                            string endDate = (c.EndDate == null) ? "" : c.EndDate.ToShortDateString();
                        }
                        <a data-toggle="modal" href="#editModal" title="Edit" id="@c.ContractorID" data-bind="@c.SubTo" data-content="@startDate;@endDate;@c.ContractAmount;@c.ContractID">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <span class="mar-left-5 mar-right-5">|</span>
                        <a href="@urlDelete" data-toggle="tooltip" title="Delete" id="deleteSub" data-placement="left"><span class="glyphicon glyphicon-trash"></span></a>

                    </td>
                </tr>
                                }
            </table>
                                }
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Sub-Contractor</h4>
            </div>
            @using (Html.BeginForm("EditSubcontractor", "Project", new { id = Model.Id }))
            {
                <input type="hidden" id="ContractorID" name="ContractorID" />
                <input type="hidden" id="ContractId" name="ContractId" />
               <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="control-label col-md-3">Sub To</div>
                            <div class="col-md-9">
                                @Html.DropDownList("SubTo", new SelectList(ViewBag.SubToList, "Value", "Text", ViewBag.Prime), new { @class = "form-control" })
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="control-label col-md-4">Contract Start</div>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    @Html.Editor("StartDate", new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-4">Contract End</div>
                            <div class="col-md-4">
                                <div class="input-group date">
                                    @Html.Editor("EndDate", new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-4">Contract Amount</div>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" id="ContractAmount" name="ContractAmount">
                                </div>
                                @Html.ValidationMessageFor(model => model.ContractAmount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            }
        </div>
    </div>
</div>



